<!--Fight Commentary text:-->
<div *ngIf="!fightError && fightStarted">
    <div *ngFor="#fightResult of fightResults"  >
        {{fightType}}  Started!
        <div *ngFor="#commentary of fightResult.fightCommentary"  >
            <div *ngIf="commentary.hitConnected">            
                <span [ngClass]="{creature1name:commentary.attacker.id == creature1.id, 
                                    creature2name:commentary.attacker.id == creature2.id}">
                    {{commentary.attacker.name}}</span> hit 
                <span [ngClass]="{creature1name:commentary.defender.id == creature1.id, 
                                    creature2name:commentary.defender.id == creature2.id}">
                    {{commentary.defender.name}}</span> for 
                {{commentary.damage}} damage,
                {{commentary.remainingHp}} remaining HPs.
                
            </div>
            <div *ngIf="!commentary.hitConnected">            
                <span [ngClass]="{creature1name:commentary.attacker.id == creature1.id, 
                                    creature2name:commentary.attacker.id == creature2.id}">
                    {{commentary.attacker.name}}</span> missed 
                <span [ngClass]="{creature1name:commentary.defender.id == creature1.id, 
                                    creature2name:commentary.defender.id == creature2.id}">
                    {{commentary.defender.name}}</span>.
                
            </div>
        </div>
        <div *ngIf="creature1IsDead" class="creature1name">
            {{creature1.name}} is Dead.
        </div>
        <div *ngIf="creature2IsDead" class="creature2name">
            {{creature2.name}} is Dead.
        </div>
        <div *ngIf="fightResult"> {{fightType}}  Ended:
            <div *ngIf="fightResult.resultTie" >
                {{fightType}} ended in a tie.     
            </div>
            <div *ngIf="!fightResult.resultTie && !fightResult.heroFled" >
                <span [ngClass]="{creature1name:fightResult.winner.id == creature1.id, 
                                    creature2name:fightResult.winner.id == creature2.id}">
                                    {{fightResult.winner.name}} </span>
                                    defeated 
                <span [ngClass]="{creature1name:fightResult.loser.id == creature1.id, 
                                    creature2name:fightResult.loser.id == creature2.id}">
                                    {{fightResult.loser.name}}.
                                    </span>
                <span [ngClass]="{creature1name:fightResult.winner.id == creature1.id, 
                                    creature2name:fightResult.winner.id == creature2.id}">
                                    {{fightResult.winner.name}} 
                                    </span>
                                    gained {{fightResult.experienceGained}} xp.
            </div>
            <div *ngIf="fightResult.heroFled" >
                <span class="creature1name"> {{creature1.name}} </span> fled battle. 
                <span class="creature1name"> {{creature1.name}} </span> ended on {{creature1.hitPoints}} HP.         
            </div>
        </div>
        <br>
    </div>
    
</div>
