<h2>The Guild</h2>
<span>failedLoad: {{failedLoad}} failReason:{{failReason}}</span>
<div *ngIf="!guild && !failedLoad">Loading Guild...</div>
<div *ngIf="failedLoad">Failed to Guild.
    <div>Reason: {{failReason}}</div>
    
</div>
<div class="columnsContainer" *ngIf="guild">
    <div class="leftColumn">
        <div class="guildname">[{{guild.id}}] {{guild.name}}</div>
        Guild gold: ${{guild.gold}}
    </div>
    <div class="leftColumn">
        <div *ngIf="guild"> 
            <ul class="heroes">
                <li *ngFor="#hero of heroes"
                    [class.selected]="hero === selectedHero"
                    (click)="onSelect(hero)">
                    <span class="badge">ID: {{hero.id}}</span> 
                        <span class="heroName">{{hero.name}}</span> 
                        <span class="status">HP: {{hero.hitPoints}}/{{hero.maxHitPoints}}</span> 
                </li>

            </ul>
        </div>
    </div>
    <div class="rightColumn heroColumn">
        <my-hero-detail #heroDetail></my-hero-detail>
    </div>
</div>
<!--<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>-->